@import "tailwindcss";
@plugin "daisyui";

@theme {
  --font-inter: var(--font-inter), sans-serif;
  --font-oswald: var(--font-oswald), sans-serif;
}

body{
  background-color: #0c0d10;
  font-family: var(--font-inter), sans-serif;
}

h1,h2,h3,h4,h5{
  font-family: var(--font-oswald), sans-serif;
}

.menu li{
  color: #9CA3AF;
  padding: 6px 16px;
  border-radius: 99;
  font-size: 16px;
}

.menu li:hover{
  color: #C2F800;
}

.menu li.active{
  background-color: #1A2312;
  color: #C2F800;
  font-weight: 500;
}

